<!DOCTYPE html>                                                                 
   <head>                                                                       
    <title>{{ title }}</title>                                                                                   
    </head>                                                                     
    <body>                                                                      
	<div style="text-align:center">
	<h1>Tele Control Robot</h1>
	<img src=" http://192.168.2.42:8080/?action=stream" alt="Unable to get video feed" width="500" height="300">
        <h1>                                                                    
            <a href="/F" id="on" class="large_button">FORWARD</a>
	    <br><br>
            <a href="/L" id="on" class="large_button">LEFT</a>        
            <a href="/R" id="off" class="large_button">RIGHT</a>
	    <br><br>
            <a href="/S" id="off" class="large_button">STOP</a>         
        </h1>
	</div>                                                                   
    </body>                                                                     
</html>
